{% extends 'covidapp/base.html' %}
{% block content %}
<div class='container'>
    <div class='card col-12'>
    <center><h2>Who made this website?</h2></center>
    <br><br>
    <ul style='list-style-type: disc;'>
        <li>This website is made with <i class='fa fa-heart' style="color:red"></i> by <strong>Sanay Shah</strong> and <strong>Shivesh Jha</strong></li><br>
        <li>We are computer engineering students from Dwarkadas J Sanghvi College Of Engineering, Mumbai</li><br>
        <li>
            Our LinkedIn :&ensp;<a class='btn a-style' href='https://www.linkedin.com/in/sanay-shah-45b973194/'><i class="fa fa-linkedin-square" aria-hidden="true"></i> @Sanay Shah</a>&ensp; <a class='btn a-style' href='https://www.linkedin.com/in/shivesh-jha-b74b46198/'>@Shivesh Jha</a></li><br>
        <li>If you have any cool ideas to add to the website, fill in the suggestion form below or connect on LinkedIn.    
    </div>
</div>
{% endblock content %}

{% block style %}
<style>
.a-style{
background-color: #0077b5;
color:white;
}
</style>
{% endblock style %}
