{% extends 'covidapp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class='container'>
    <br>
    <div class='card col-12'>
    <center><h2>Who made this website?</h2></center>
    <br><br>
    <ul style='list-style-type: disc'>
        <li>This website is made with <i class='fa fa-heart' style="color:red"></i> by <strong>Sanay Shah</strong> and <strong>Shivesh Jha</strong>.</li><br>
        <li>We are computer engineering students from Dwarkadas J Sanghvi College Of Engineering, Mumbai.</li><br>
        <li><a class='btn btn-linkedin' href='https://www.linkedin.com/in/sanay-shah-45b973194/'><i class="fab fa-linkedin-in"></i> @Sanay Shah</a>&ensp; <a class='btn btn-linkedin' href='https://www.linkedin.com/in/shivesh-jha-b74b46198/'><i class="fab fa-linkedin-in" aria-hidden="true"></i> @Shivesh Jha</a></li><br>
        <li>If you have any cool ideas to add to the website, fill in the suggestion form below or connect on LinkedIn.</li>
        </ul>
        <div class='text-muted' style='text-align: right;font-weight: 630;'><i class="fa fa-info-circle" aria-hidden="true"></i> {{count}} {% if count == 1 %}person has {% else %}people have {% endif %}rated this site so far.</div>
    </div>
    <br>
     <div class='card col-12'>
         {% if messages %}
         {% for x in messages %}
         <div class='alert alert-custom' style="background-color: #121212;"><center><strong>{{x}}</strong></center></div>
         {% endfor %}
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <div class='col-12'>
                {{form|crispy}}
             </div>   
                <br>
                <button class='btn-secondary' type='submit'>Submit</button>
        </form>
    </div>
    </div>
{% endblock content %}

{% block style %}
<style>
.btn-linkedin {
    background: #0E76A8;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #084461;
    border-radius:5px
}
.btn-linkedin:link, .btn-linkedin:visited {
    color: #fff;
}
.btn-linkedin:active, .btn-linkedin:hover {
    background: #084461;
    color: #fff;
}

</style>
{% endblock style %}
