{% extends 'covidapp/base.html' %}

{% block content %}
<div class="container">
<p class="animated animatedFadeInUp fadeInUp " style="font-weight: bold;font-size: 15px;padding: 15px;animation-delay: 0.3s;text-align: center;"><i class="fa fa-calendar" style="padding: 10px;"></i>{{d}}</p>

  <div  style="text-align: center;">
  
    <h5 class="kit animated animatedFadeInUp fadeInUp" style="color: white;animation-delay: 0.6s;" ><i class="fa fa-viruses" style="padding: 10px;color: rgb(194, 52, 52);" ></i>COVID19 IN <span style="color: rgb(100, 100, 255);font-weight: bold;text-transform: uppercase;">{{name}}</span></h4><br><br>
    <div class="row">
        <div class="col-4 animated animatedFadeInUp fadeInUp" style="animation-delay:0.9s;">
             <h5 class="kit" c style="font-weight: bold;color:rgb(100, 100, 255);">{{info.total_cases}}</h4>
             <p><span class="counter" style="color: rgb(134, 134, 252);font-size: 15px; ">{% if info.total_new_cases_today > -1 %}+[{{info.total_new_cases_today}}]{% endif %}</span></p><br>
             <h7 style="font-weight: bold;color: rgb(100, 100, 255);font-size: 15px;">Cases</p>
        </div>
        
        <div class="col-4 animated animatedFadeInUp fadeInUp" style="animation-delay:1.5s;">
            <h5 class="kit"  style="font-weight: bold;color:red ;">{{info.total_deaths}}</h5>
            <p><span  style="color: rgb(255, 77, 77);font-size: 15px; ">{% if info.total_new_deaths_today > -1 %}+[{{info.total_new_deaths_today}}]{% endif %}</span></p><br>
            <p style="font-weight: bold;color: red;font-size: 15px;">Deaths</p>
        </div>

        <div class="col-4 animated animatedFadeInUp fadeInUp" style="animation-delay:1.8s;">
            <h5 class="kit"  style="font-weight: bold;color:green ;">{{info.total_recovered}}</h5 >
            <p><span  style="color: yellowgreen; font-size: 15px;"><i class="fa fa-heart" aria-hidden="true" style="padding: 5px;"></i></span></p><br>
            <h7 style="font-weight: bold;color: green;font-size: 15px;">Cured</p>
        </div>
    </div>
  </div>
</div><br><br>
    
<div class='container'>
  <div class="row">
        <div class="container col-12 col-md-4 "><canvas class='new_card' height="250px" id="line-chart-total" style="margin-bottom: 40px;padding: 15px;"></canvas></div>
  
  
    <div class="container col-12 col-md-4"><canvas class='new_card' height="250px" id="line-chart-cured" style="margin-bottom: 40px;padding: 15px;" ></canvas></div>
    <div class="container col-12  col-md-4"><canvas class="new_card" height="250px" id="line-chart-deaths" style="margin-bottom: 40px;padding: 15px;" ></canvas></div><br><br>
  </div>
 </div> 
{% endblock content %}




{% block script %}
  <script> 
  new Chart(document.getElementById("line-chart-total"), {
    type: 'line',
    data: {
      labels: [{% for key,value in timeline.items %}
                  
                  "{{key}}",
                  
                  {% endfor %}       ],
      datasets: [{ 
          data: [{% for key,value in timeline.items %}
                  "{{value.total_cases}}",
                {% endfor %}                      ],
          label: "Total cases",
          borderColor: "blue",
          fill: false
        },{ 
          data: [{% for key,value in timeline.items %}
                  "{{value.total_deaths}}",
                {% endfor %}                      ],
          label: "Total Deaths",
          borderColor: "red",
          fill: false
        },
    
        
        ],
         

    },

    options: {
      title: {
        display: true,
        text: 'Rise in Total cases in India'
      }
    }
  });

  new Chart(document.getElementById("line-chart-cured"), {
    type: 'line',
    data: {
      labels: [{% for key,value in timeline.items %}
                  
                  "{{key}}",
                  
                  {% endfor %}       ],
      datasets: [{ 
          data: [{% for key,value in timeline.items %}
                  "{{value.new_daily_deaths}}",
                {% endfor %}                      ],
          label: "Daily deaths",
          borderColor: "red",
          fill: false
        }] 
    },
    options: {
      title: {
        display: true,
        text: 'Rise in Total recovered in India'
      }
    }
  });


  new Chart(document.getElementById("line-chart-deaths"), {
    type: 'line',
    data: {
      labels: [{% for key,value in timeline.items %}
                  
                  "{{key}}",
                  
                  {% endfor %}       ],
      datasets: [{ 
          data: [{% for key,value in timeline.items %}
                  "{{value.new_daily_cases}}",
                {% endfor %}                      ],
          label: "Daily cases",
          borderColor: "blue",
          fill: false
        }] 
    },
    options: {
      title: {
        display: true,
        text: 'Rise in Deaths in India'
      }
    }
  });

  
  </script>
{% endblock script %}