{% extends 'covidapp/base.html' %}

{% block content %}
<div class="container">
<p class="animated animatedFadeInUp fadeInUp " style="font-weight: bold;font-size: 15px;padding: 15px;animation-delay: 0.3s;text-align: center;"><i class="fa fa-calendar" style="padding: 10px;"></i>{{d}}</p>

  <div  style="border-radius: 15px;text-align: center;background-color: #1d1d1d;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;padding: 30px;margin: 0px;">
  
    <h5 style="color: white;animation-delay: 0.6s;" class="animated animatedFadeInUp fadeInUp"><i class="fa fa-viruses" style="padding: 10px;color: rgb(194, 52, 52);" ></i>COVID19 IN <span style="color: blue;font-weight: bold;text-transform: uppercase;">{{name}}</span></h4><br><br>
    <div class="row">
        <div class="col-3 animated animatedFadeInUp fadeInUp" style="animation-delay:0.9s;">
             <h5 style="font-weight: bold;color: blue;">{{info.total_cases}}</h4>
             <h6><span class="counter" style="color: rgb(134, 134, 252); ">{% if info.total_new_cases_today > -1 %}+[{{info.total_new_cases_today}}]{% endif %}</span></h5><br>
             <h7 style="font-weight: bold;color: blue;"><i class="fa fa-disease" style="padding-right: 5px;" ></i>Cases</h5>
        </div>
        <div class="col-3 animated animatedFadeInUp fadeInUp" style="animation-delay:1.2s;">
            <h5  style="font-weight: bold;color:yellow ;">{{info.total_active_cases}}</h5>
            <h6><span  style="color: #1d1d1d; ">1</span></h6><br>
            <h7 style="font-weight: bold;color: yellow;"><i class="fa fa-diagnoses" style="padding-right: 5px;" ></i>Active</h7>
        </div>

        <div class="col-3 animated animatedFadeInUp fadeInUp" style="animation-delay:1.5s;">
            <h5  style="font-weight: bold;color:red ;">{{info.total_deaths}}</h5>
            <h6><span  style="color: rgb(255, 77, 77); ">{% if info.total_new_deaths_today > -1 %}+[{{info.total_new_deaths_today}}]{% endif %}</span></h6><br>
            <h7 style="font-weight: bold;color: red;"><i class="fa fa-bed" style="padding-right: 3px;" ></i>Deaths</h5>
        </div>

        <div class="col-3 animated animatedFadeInUp fadeInUp" style="animation-delay:1.8s;">
            <h5  style="font-weight: bold;color:green ;">{{info.total_recovered}}</h5>
            <h6><span  style="color: #1d1d1d; ">1</span></h6><br>
            <h7 style="font-weight: bold;color: green;"><i class="fa fa-child" style="padding: 5px;" ></i>Cured</h5>
        </div>
    </div>
  </div>
</div><br><br>
    
<div class='container'>
  <div class="row">
        <div class="container col-12 "><canvas class='card' height="250px" id="line-chart-total" style="margin-bottom: 40px;"></canvas></div>
  </div>
  <div class='row'>
    <div class="container col-12 col-md-6"><canvas class='card' height="250px" id="line-chart-cured" style="margin-bottom: 40px;" ></canvas></div>
    <div class="container col-12 col-md-offset-6 col-md-6"><canvas class="card" height="250px" id="line-chart-deaths" style="margin-bottom: 40px;" ></canvas></div><br><br>
  </div>
 </div> 
{% endblock content %}




{% block script %}
  <script> 
  new Chart(document.getElementById("line-chart-total"), {
    type: 'line',
    data: {
      labels: [{% for key,value in timeline.items %}
                  
                  "{{key}}",
                  
                  {% endfor %}       ],
      datasets: [{ 
          data: [{% for key,value in timeline.items %}
                  "{{value.total_cases}}",
                {% endfor %}                      ],
          label: "Total cases",
          borderColor: "blue",
          fill: false
        },{ 
          data: [{% for key,value in timeline.items %}
                  "{{value.total_deaths}}",
                {% endfor %}                      ],
          label: "Total Deaths",
          borderColor: "red",
          fill: false
        },
    
        
        ],
         

    },

    options: {
      title: {
        display: true,
        text: 'Rise in Total cases in India'
      }
    }
  });

  new Chart(document.getElementById("line-chart-cured"), {
    type: 'line',
    data: {
      labels: [{% for key,value in timeline.items %}
                  
                  "{{key}}",
                  
                  {% endfor %}       ],
      datasets: [{ 
          data: [{% for key,value in timeline.items %}
                  "{{value.new_daily_deaths}}",
                {% endfor %}                      ],
          label: "Daily deaths",
          borderColor: "red",
          fill: false
        }] 
    },
    options: {
      title: {
        display: true,
        text: 'Rise in Total recovered in India'
      }
    }
  });


  new Chart(document.getElementById("line-chart-deaths"), {
    type: 'line',
    data: {
      labels: [{% for key,value in timeline.items %}
                  
                  "{{key}}",
                  
                  {% endfor %}       ],
      datasets: [{ 
          data: [{% for key,value in timeline.items %}
                  "{{value.new_daily_cases}}",
                {% endfor %}                      ],
          label: "Daily cases",
          borderColor: "blue",
          fill: false
        }] 
    },
    options: {
      title: {
        display: true,
        text: 'Rise in Deaths in India'
      }
    }
  });

  
  </script>
{% endblock script %}