{% extends 'covidapp/base.html' %}
{% block style %}
{% endblock style %}
{% block content %}
<div class="container" style="text-align: center;"><br>
  <h5 style="color: rgb(40, 40, 255);">You have discovered a secret page!!</h5><br>
  <h6 style="color: aqua;">We have a reward for u...</h6><br>
  <button class="btn-primary btn-success" onclick="reward()">Click here to claim reward</button>

</div>
{% endblock content %}
{% block script %}
<script>
  function reward(){
    alert("<b>"+"Lauda lo, lauda lo na mera!!"+"</b>");
  }
</script>
{% endblock script %}