<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Latest compiled JavaScript -->
   

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    
<style>
  html { font-size: 1rem; }

@media screen and (max-width: 576px) {
    html { font-size: 1.5rem }
}
@media screen and (min-width: 576px) {
    html { font-size: calc(20% + 0.5vw + 1.2vh) }


}
/* @media screen and (min-width: 992px) {
    html { font-size: 1.75rem; }
}
@media screen and (min-width: 1200px) {
    html { font-size: 2rem; }
} */

</style>

</head>
<body style="background-color: #121212;">
  <div class='container  animated animatedFadeInUp fadeInUp ' style="text-align: center  ; padding-bottom: 0px;font-family:inherit;margin-bottom: 40px;animation-delay: 0.3s">
    <p class='text-responsive' style="text-align: center;font-size: 20px;font-weight: bold;margin:25px;color:white"><i class='fas fa-globe-americas text-responsive' style="font-size: 18px;padding: 10px;color: skyblue;"></i>GLOBAL <span style="color: bisque;">COVID19</span> STATS </p>
    <div class="row" style="margin-top: 20px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        <div class="col-4" style="margin-bottom: 20px;">
          <div class="button1 animated animatedFadeInUp fadeInUp" style="animation-delay:0.4s; ">
        <h5 class="text-responsive"><span class="count" style="color: rgb(104, 104, 255);letter-spacing: 1.5px;font-weight: bold;">8765432</span></h1>
        <p class='text-responsive' style="font-size: 15px;"><span class="count" style="color: rgb(134, 134, 252);">[+8765432]</span></p><br>
        <p class='text-responsive' style="font-size: 15px;font-weight: bold;color: rgb(104, 104, 255);">Cases</p><br>
        
        </div> </div>

        <!--<div class=" col-12" style="margin-bottom: 20px;">
          <div class="button1 animated animatedFadeInUp fadeInUp" style="animation-delay:0.5s">
          <h4 ><span class="count" style="color: yellow;letter-spacing: 1.5px;font-weight: 700;">{{global.total_active_cases}}</span></h2>
          <h7><span class="count" style="color: #121212;">[+{{global.NewRecovered}}]</span></h4><br><br>
          <h8 style="font-weight: bold;color: yellow;">Active</h3><br>
        
        
        </div></div>-->

        <div class=" col-4" style="margin-bottom: 20px;">
          <div class="button1 animated animatedFadeInUp fadeInUp" style="animation-delay:0.6s; ">
          <h5 class='text-responsive'><span class="count" style="color: red;letter-spacing: 1.5px; font-weight: bold;">876543</span></h4>
          <p class='text-responsive' style="font-size: 15px;"><span class="count" style="color: rgb(240, 133, 133);">[+9876543]</span></p><br>
          <p class='text-responsive' style="font-size: 15px;font-weight: bold;color: red;"> Deaths</p><br>
        </div></div>

        <div class=" col-4" style="margin-bottom: 20px;">
          <div class="button1 animated animatedFadeInUp fadeInUp" style="animation-delay:0.7s;">
          <h5 class='text-responsive'><span class="count" style="color: green;letter-spacing: 1.5px;">876543</span></h1>
          <p class='text-responsive' style="font-size: 15px;"><span class="count" style="color: #121212;">1</span></p><br>
          <p class='text-responsive' style="font-size: 15px;font-weight: bold;color: green;"> Cured</h8><br>
        
        </div></div>
        <div class="md-form">
          <i class="fa fa-envelope prefix grey-text"></i>
          <input type="email" id="materialFormCardEmailEx" class="form-control">
          <label for="materialFormCardEmailEx" class="font-weight-light">Your email</label>
        </div>
      
      </div>
    
      </div>
</body>
</html>