{% extends 'covidapp/base.html' %}

{% block title %}
TraCOR - Essentials
{% endblock title %}


{% block content %}
<div class="container">
<br>
<h5 class="animated animatedFadeInUp fadeInUp" style="font-weight: bold;color: rgb(189, 255, 189);animation-delay: 0.2s;">Choose category:</h5><br>
    {% for x in category_list %}
    <a class='btn btn-secondary mb-3 mr-2   animated animatedFadeInUp fadeInUp' style="animation-delay: 0.2s;font-size: 12px;background-color: #1d1d1d;" href='/essential_category/{{x}}'>{{x}}</a>
    {% endfor %}
    <br><br><br>

<div class=' animated animatedFadeInUp fadeInUp' style="animation-delay: 0.4s;word-wrap: break-word;">
   
    <h2 class='mb-3 kit' style="color: rgb(188, 229, 255)">{{category69}} : </h2>
    {% for data in data %}
    {% if data.city == 'Mumbai' and data.category == category69 %}
    <div class='new_card' style="padding: 20px;">
        <p><span style="color: rgb(189, 255, 189);">Name of the organisation : </span><strong>{{data.nameoftheorganisation}}</strong></p>
        <p><span style="color: rgb(189, 255, 189);">Service provided : </span>{{data.descriptionandorserviceprovided}}</p>
        {% if data.phonenumber %}<p><span style="color: rgb(189, 255, 189);">Contact : </span>{{data.phonenumber}}</p>{% endif %}     
        {% if data.contact %}<p><span style="color: rgb(189, 255, 189);">Link : </span>{{data.contact}}</p>{% endif %} 
    </div>
     <br>
     {% endif %}
     {% endfor %}
</div></div>
{% endblock content %}

{% block script %}
{% endblock script %}

{% block style %}
<style>
 .btn:hover{
     color: greenyellow;
     



}
</style>
{% endblock style %}