{% extends 'covidapp/base.html' %}
{% block style %}
<style>
  
</style>
{% endblock style %}
{% block content %}
<div class="container">
<p class="animated animatedFadeInUp fadeInUp " style="font-weight: bold;font-size: 15px;padding: 15px;animation-delay: 0.3s;text-align: center;"><i class="fa fa-calendar" style="padding: 10px;"></i>{{d}}</p>
  <div style="text-align: center;">
    <h5 style="color: white;animation-delay: 0.6s;" class="kit animated animatedFadeInUp fadeInUp"><i class="fa fa-viruses" style="padding: 10px;color: rgb(194, 52, 52);" ></i>COVID19 IN <span style="color: rgb(67, 67, 255);font-weight: bold;">INDIA</span></h5><br><br>
    <div class="row">
        <div class="col-3 animated animatedFadeInUp fadeInUp" style="animation-delay:0.9s;">
             <h5 class="kit" style="font-weight: bold;color: rgba(93, 93, 255, 0.801);">{{india_total.confirmed}}</h5>
             <p><span class="counter" style="font-size: 15px;color:  rgb(160, 160, 253); ">{% if india_total.deltaconfirmed %}+[{{india_total.deltaconfirmed}}]{% endif %}</span></p><br>
             <p style="font-weight: bold;color: rgba(93, 93, 255, 0.801);font-size: 15px;">Cases</p>
        </div>
        <div class="col-3 animated animatedFadeInUp fadeInUp" style="animation-delay:1.2s;">
            <h5 class="kit" style="font-weight: bold;color:yellow ;">{{india_total.active}}</h5>
            <p><span  style="color: rgb(255, 255, 146);font-size: 10px; "><i class="fa fa-heart" aria-hidden="true" style="padding: 5px;"></i></span></p><br>
            <p style="font-weight: bold;color: yellow;font-size: 15px;">Active</p>
        </div>

        <div class="col-3 animated animatedFadeInUp fadeInUp" style="animation-delay:1.5s;">
            <h5 class="kit" style="font-weight: bold;color:red ;">{{india_total.deaths}}</h5>
            <p><span  style="color: rgb(255, 77, 77);font-size: 15px; ">{% if india_total.deltadeaths %}+[{{india_total.deltadeaths}}]{% endif %}</span></p><br>
            <p style="font-weight: bold;color: red;font-size: 15px;">Deaths</p>
        </div>

        <div class="col-3 animated animatedFadeInUp fadeInUp" style="animation-delay:1.8s;">
            <h5 class="kit"  style="font-weight: bold;color:green ;">{{india_total.recovered}}</h5>
            <p><span  style="color: rgb(113, 252, 113);font-size: 15px; ">{% if india_total.deltarecovered %}+[{{india_total.deltarecovered}}]{% endif %}</span></p><br>
            <p style="font-weight: bold;color: green;font-size: 15px;">Cured</p>
        </div>
    </div><br>
    <p class="animated animatedFadeInUp fadeInUp text-muted" style="animation-delay:1.8s;font-weight: bold;">Last updated on: {{india_total.lastupdatedtime}}</p>


</div><br><br><div class="row">
<div class="container col-12 col-md-offset-3 col-md-4"><canvas class=' new_card' height="250px" id="line-chart-total" style="margin-bottom: 40px;padding: 15px;"></canvas></div>
<div class="container col-12 col-md-offset-3 col-md-4"><canvas class='new_card' height="250px" id="line-chart-cured" style="margin-bottom: 40px;padding: 15px;" ></canvas></div>
<div class="container col-12 col-md-offset-3 col-md-4"><canvas class="new_card" height="250px"  id="line-chart-deaths" style="margin-bottom: 40px;padding: 15px;" ></canvas></div><br><br>
</div>

<div>
<div class="" style="margin-top: 50px;">
  <h5 class="animated animatedFadeInUp fadeInUp"  style="font-weight: bold;animation-delay: 1.2s;">States</h5>
  <div class='sticky-top'>
  <table class="animated animatedFadeInUp fadeInUp" style="animation-delay: 1.4s;">
            <tr >
              <th style="text-align: left;" class='sticky-top'>State</th>
              <th class='sticky-top' style="color:rgba(93, 93, 255, 0.801)">Confirmed</th>
              <th class='sticky-top 'style="color:red">Deaths</th>
              <th class='sticky-top' style="color:green">Recovered</th>
              
            </tr>
             
            {% for i in india %}
            
            <tr>
              <td><a href="/api/statewise/state/{{i.state}}/"><p style="text-align: left;">{{i.state}}</p></a></td>
              <td><p ><span style='color: rgba(93, 93, 255, 0.801);'>{% if i.deltaconfirmed != '0' %}+ {{i.deltaconfirmed}}{% endif %}</span> {{i.confirmed}}</p></td>
              <td><p ><span style="color: red;">{% if i.deltadeaths != '0' %}+ {{i.deltadeaths}}{% endif %}</span> {{i.deaths}}</p></td>
              <td><p><span style="color: green;">{% if i.deltarecovered != '0' %}+ {{i.deltarecovered}}{% endif %}</span> {{i.recovered}}</p></td>
            </tr>
            
            {% endfor %}
  </table>
  </div>
</div>
</div>
        

</div>
{% endblock content %}



{% block script %}
<script> 
  new Chart(document.getElementById("line-chart-total"), {
    type: 'line',
    data: {
      labels: [{% for key,value in daywise.items %}
                  
                  "{{key}}",
                  
                  {% endfor %}       ],
      datasets: [{ 
          data: [{% for key,value in daywise.items %}
                  "{{value.totalconfirmed}}",
                {% endfor %}                      ],
          label: "Total cases",
          borderColor: "rgba(93, 93, 255, 0.801)",
          fill: false
        },{ 
          data: [{% for key,value in daywise.items %}
                  "{{value.totalrecovered}}",
                {% endfor %}                      ],
          label: "Total Cured",
          borderColor: "green",
          fill: false
        },{ 
          data: [{% for key,value in daywise.items %}
                  "{{value.totaldeceased}}",
                {% endfor %}                      ],
          label: "Total Deaths",
          borderColor: "red",
          fill: false
        }
        ],
        
    },
    options: {
      title: {
        display: true,
        text: 'Rise in Total cases in India'
      }
    }
  });

  new Chart(document.getElementById("line-chart-cured"), {
    type: 'line',
    data: {
      labels: [{% for key,value in daywise.items %}
                  
                  "{{key}}",
                  
                  {% endfor %}       ],
      datasets: [{ 
          data: [{% for key,value in daywise.items %}
                  "{{value.dailyconfirmed}}",
                {% endfor %}                      ],
          label: "Daily cases",
          borderColor: "rgba(93, 93, 255, 0.801)",
          fill: false
        }] 
    },
    options: {
      title: {
        display: true,
        text: 'Daily cases in India'
      }
    }
  });


  new Chart(document.getElementById("line-chart-deaths"), {
    type: 'line',
    data: {
      labels: [{% for key,value in daywise.items %}
                  
                  "{{key}}",
                  
                  {% endfor %}       ],
      datasets: [{ 
          data: [{% for key,value in daywise.items %}
                  "{{value.dailydeceased}}",
                {% endfor %}                      ],
          label: "Daily Deaths",
          borderColor: "red",
          fill: false
        }] 
    },
    options: {
      title: {
        display: true,
        text: 'Rise in Deaths in India'
      }
    }
  });

  
</script>
{% endblock script %}

