{% extends 'covidapp/base.html' %}
{% block content %}
<p class="" style="font-weight: bold;padding: 15px;animation-delay: 0.2s;text-align: center;">{{d}}</p>
<div style="margin:20px;">
  <div class="container-fluid col-xs-12 "  style="margin-right: 20px;border-radius: 15px;text-align: center;background-color: black;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;padding: 15px;">
  
    <h3 style="color: white;" class=""><i class="material-icons" style="padding-right: 5px;animation-delay: 0.3s;font-size: 22px;color: orangered;">&#xe55f;</i>Corona in India</h3> <br>
    <div class="col-xs-3 " style="animation-delay:0.4s;margin-bottom: 40px;">
      <h4 style="font-weight: bold;color: blue;">{{india_total.confirmed}}</h4>
      <h5><span class="counter" style="color: rgb(134, 134, 252); ">[+{{india_total.deltaconfirmed}}]</span></h5>
      <h5 style="font-weight: bold;color: blue;"><i class="fa fa-heartbeat" style="" ></i>Cases</h5>
    </div>
    <div class="col-xs-3 " style="animation-delay:0.8s;margin-bottom: 40px;">
      <h4 style="font-weight: bold;color:yellow ;">{{india_total.active}}</h4>
      <h5><span class="counter" style="color: black; ">1</span></h5>
      <h5 style="font-weight: bold;color: yellow;"><i class="fa fa-tint" style="padding: 5px;" ></i>Active</h5>
    </div>

    <div class="col-xs-3 " style="animation-delay:1.2s;margin-bottom: 40px;">
      <h4 style="font-weight: bold;color:red ;">{{india_total.deaths}}</h4>
      <h5><span class="counter" style="color: rgb(255, 77, 77); ">{% if india_total.deltadeaths %}+[{{india_total.deltadeaths}}]{% endif %}</span></h4>
      <h5 style="font-weight: bold;color: red;"><i class="fa fa-bed" style="padding: 5px;" ></i>Deaths</h5>
    </div>

    <div class="col-xs-3 " style="animation-delay:1.6s;margin-bottom: 40px;">
      <h4 style="font-weight: bold;color:green ;">{{india_total.recovered}}</h4>
      <h5><span class="counter" style="color: rgb(113, 252, 113); ">{% if india_total.deltarecovered %}+[{{india_total.deltarecovered}}]{% endif %}</span></h5>
      <h5 style="font-weight: bold;color: green;"><i class="fa fa-child" style="padding: 5px;" ></i>Cured</h5>
    </div>

  </div>
</div>

<div>
<div class="" style="margin: 15px;margin-top: 30px;">
  <h8 class=""  style="font-weight: bold;animation-delay: 1.6s;">States</h2>       
  <table class="" style="animation-delay: 1.8s;">
            <tr style="color: white;background-color: royalblue;">
              <th style="text-align: left;">State</th>
              <th >Confirmed</th>
              <th >Deaths</th>
              <th >Recovered</th>
              
            </tr>
             
            {% for i in india %}

            <tr>
            
              <td><a href="/api/statewise/{{i.state}}"><p style="text-align: left;">{{i.state}}</p></a></td>
              <td><p ><span style='color: blue;'>{% if i.deltaconfirmed != 0 %}+ {{i.deltaconfirmed}}{% endif %}</span> {{i.confirmed}}</p></td>
              <td><p ><span style="color: red;">{% if i.deltadeaths != 0 %}+ {{i.deltadeaths}}{% endif %}</span> {{i.deaths}}</p></td>
              <td><p><span style="color: green;">{% if i.deltarecovered != 0 %}+ {{i.deltarecovered}}{% endif %}</span> {{i.recovered}}</p></td>
            </tr>
            
            {% endfor %}
  </table>
        
</div>
</div>
<p style="text-align: center;">Hii</p>
      {% endblock content %}